/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: 'Inter-Variable';
  --accent-font-family: 'PressStart2P';
  --h3-card-wght: 715;
  --p-card-wght: 410; 
  --stroke-color: #fff;

  --button-text-color: #fff;
  --button-bg-color: #fff;
  --button-hover-color: #000;

  --contour-color: #000;
  --heart-fill-color: #ff0000;
}